  
  .profile {
    width: 500px;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(184, 231, 161, 0.945);
    border-radius: 15px;
    border: 2px solid gray;
    box-shadow: 10px 12px 12px 0px gray;
  }
  
  p {
    margin: 0;
  }
  .description {
    display: flex;
    row-gap: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .avatar {
    display: inline-flex;
    width: 60%;
    border-radius: 50%;
    background-color: rgba(202, 246, 44, 0.516);
    box-shadow: inset 2px 2px 5px wheat;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .name {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .tag {
    font-size: 24px;
    text-decoration: underline;
    text-decoration: none;
  }
  
  .location {
    font-size: 24px;
  }
  .stats {
    width: 100%;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
  
  }
  .stats > li {
    width: calc(100% / 3 - 32px);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 2px solid gray;
    box-shadow: inset 2px 2px 5px wheat;
    background-color: rgba(202, 246, 44, 0.516);
  }
  
  .label {
    font-size: 20px;
    font-weight: bolder;
  }
  .quantity {
    font-size: 18px;
   }